<div class="container">
  <div class="content">
    <div class="page-header">
      <h1></h1>
    </div>
    <div class="row">
      <app-left-menu></app-left-menu>
      <div class="col-md-10">
        <ngb-tabset *ngIf="event">
          <ngb-tab i18n-title title=Gifts>
            <ng-template ngbTabContent>
              <br/>
              <div>
                <a class="btn btn-primary" [routerLink]="['addGift']" i18n>Add a gift's idea</a>
              </div>
              <br/>
              <p-dataTable *ngIf="visible" rowHover="true" [value]="gifts" [rows]="20" [paginator]="true" #dt>
                <p-column field="name" i18n-header header="Description" [filter]="true" i18n-filterPlaceholder filterPlaceholder="Search"></p-column>
                <p-column  *ngIf="event.eventType == 'Christmas'" field="to.userName" [filter]="true" filterMatchMode="equals" i18n-header header="For">
                  <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="recipients" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                  </ng-template>
                </p-column>
                <p-column field="status" i18n-header header="Status">
                  <ng-template let-col let-g="rowData" pTemplate="body">
                    <ng-template #elseTemplate>
                      <ng-container><p class="gift-status bg-warning" i18n-ngbTooltip ngbTooltip="This is a surprise!">?</p></ng-container>
                    </ng-template>
                    <ng-container *ngIf="g.to && g.to.id !== user.id; else elseTemplate">
                        <ng-container *ngIf="g.from">
                          <ng-container *ngIf="g.status === 'Bought'">
                            <p class="gift-status bg-primary" i18n-ngbTooltip ngbTooltip="Offered by {{g.from.userName}}" i18n>Bought</p>
                          </ng-container>
                          <ng-container *ngIf="g.status === 'AboutToBeBought'">
                            <p class="gift-status bg-primary" i18n-ngbTooltip ngbTooltip="Offered by {{g.from.userName}}" i18n>About to be bought</p>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!g.from">
                          <ng-container *ngIf="g.status === 'New'" i18n><p class="gift-status bg-info">New</p></ng-container>
                          <ng-container *ngIf="g.status === 'AboutToBeBought'" i18n>About to be bought</ng-container>
                          <ng-container *ngIf="g.status === 'Bought'" i18n>Bought</ng-container>
                        </ng-container>
                      </ng-container>
                  </ng-template>
                </p-column>
                <p-column field="links" i18n-header header="Links">
                  <ng-template let-col let-gift="rowData" pTemplate="body">
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                      <a *ngFor="let url of gift.urls" type="button" class="btn btn-light" href="{{url}}" target="_blank\">
                        <i class="fa fa-link"></i>
                      </a>
                    </div>
                  </ng-template>
                </p-column>
                <p-column field="actions" i18n-header header="Actions">
                  <ng-template let-col let-g="rowData" pTemplate="body">
                    <div class="text-centered">
                        <div class="btn-group btn-group-sm">
                          <button class="btn btn-light" [routerLink]="['/events', event.id, 'gifts', g.id, 'view']"><i class="fa fa-eye" i18n-ngbTooltip ngbTooltip="Details"></i></button>
                          <button class="btn btn-light" [routerLink]="['/events', event.id, 'gifts', g.id, 'edit']"><i class="fa fa-edit" i18n-ngbTooltip ngbTooltip="Modify"></i></button>
                          <button class="btn btn-light open-gift-status-modal" data-id="{{g.id}}" [disabled]="!canBuyGift(g)" (click)="openBuyGiftModal(g)">
                            <i class="fa fa-credit-card" i18n-ngbTooltip ngbTooltip="Buy"></i>
                          </button>
                          <button class="btn btn-light" [disabled]="g.creator.id !== user.id" (click)="openDeleteGiftModal(g.id)"><i class="fa fa-remove" i18n-ngbTooltip ngbTooltip="Remove gift"></i></button>
                          <button 
                          [ngClass]="{'btn btn-info open-gift-comment-modal': true, 'btn-info': hasComments[g.id], 'btn-light': !hasComments[g.id]}"
                          (click)="openCommentGiftModal(g)">
                            <i class="fa fa-comment-o" i18n-ngbTooltip ngbTooltip="Comment"></i>
                        </button>
                        </div>
                      </div>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </ng-template>
          </ngb-tab>
          <ngb-tab i18n-title title=Participants>
            <ng-template ngbTabContent>
              <table id="participants-table" class="table table-striped table-hover table-bordered tablesorter">
                <thead>
                  <tr>
                    <th i18n>Name</th>
                    <th i18n>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of participants">
                    <td>{{p.user.userName}}</td>
                    <td>
                      <select *ngIf="event.creator.id != p.user.id && p.user.id != user.id && p.role === 'Owner';else other_content" name="role">
                        <option value="Owner" [selected]="p.role === 'Owner'" i18n>Owner</option>
                        <option value="Gifter" [selected]="p.role === 'Gifter'" i18n>Gifts buyer</option>
                        <option value="Reader" [selected]="p.role === 'Reader'" i18n>Read only</option>
                      </select>
                      <ng-template #other_content>
                        <ng-container *ngIf="p.role === 'Owner'" i18n>Owner</ng-container>
                        <ng-container *ngIf="p.role === 'Gifter'" i18n>Gifts buyer</ng-container>
                        <ng-container *ngIf="p.role === 'Reader'" i18n>Read only</ng-container>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="add-participant-form">
                <form class="form-search form-inline" *ngIf="addParticipantForm" class="col-lg-12" [formGroup]="addParticipantForm" (ngSubmit)="addParticipant(addParticipantForm.value)">
                    <div class="form-group"
                    [ngClass]="{'has-error':fh.hasError(addParticipantForm, 'email')}"
                    >
                        <label for="email" i18n>Email</label>
                        <div class="alert alert-danger" *ngIf="fh.hasError(addParticipantForm, 'email')" i18n>Field required</div>
                        <input class="form-control"
                                id="email"
                                name="email"
                                [formControl]="addParticipantForm.controls['email']"
                        >
                    </div>
                  
                  <button type="submit" class="btn btn-primary" [disabled]="!addParticipantForm.valid"><span i18n>Add</span></button>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>
  </div>
</div>

<ng-template #buyGiftModal let-c="close" let-d="dismiss">
  <ng-container *ngIf="giftToBuy">
    <div class="modal-header">
      <h4 class="modal-title" i18n>Offer "{{giftToBuy.name}}"</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="to" i18n>Change status:</label>
      <select class="form-control" [(ngModel)]="giftToBuyNewStatus" required>
          <option value="New" i18n>New</option>
          <option value="AboutToBeBought" i18n>About to be bought</option>
          <option value="Bought" i18n>Bought</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="d()" i18n>Cancel</button>
      <button type="button" class="btn btn-primary" (click)="c()" i18n>Confirm</button>
    </div>
  </ng-container>
</ng-template>

<ng-template #deleteGiftModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" i18n>Confirm deletion</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p i18n>If you delete this gift, everyone will be disappointed. Are you really sure ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="d()" i18n>Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c()" i18n>Confirm</button>
  </div>
</ng-template>

<ng-template #commentGiftModal let-d="dismiss">
  <ng-container *ngIf="giftToComment">
    <div class="modal-header">
      <h4 class="modal-title" i18n>Comment on {{giftToComment.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="gift-comment-form" *ngIf="!loadingComments">
        <div class="modal-body modal-comment-body form-horizontal navbar-fixed-bottom">
          <div class="comments">
            <div class="media" *ngFor="let comment of comments">
              <p class="pull-right"><small>{{comment.creationDate | date:'dd/MM/yyyy hh:mm:ss'}}</small></p>
              <div class="media-body">
                <h4 class="media-heading user-name">{{comment.user.userName}}</h4>
                {{comment.content}}
              </div>
            </div>
          </div>
          <div class="comment-form form-group row">
            <div class="col-10">
              <input type="text" class="form-control" [(ngModel)]="currentComment" id="comment" name="comment" i18n-placeholder placeholder="Your comment...">
            </div>
            <div class="col-2">
              <button class="btn btn-primary" [disabled]="!currentComment" (click)="currentComment && addComment()" i18n>Add</button>
            </div>
          </div>
        </div>
      </form>
      <div *ngIf="loadingComments">Fetching comments...</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="d()" i18n>Close</button>
    </div>
  </ng-container>
</ng-template>
