<fieldset class="col-md-6 col-md-offset-3">
    <div class="page-header">
    <h1 i18n>Password forgotten?</h1>
    </div>
    <div class="row">
        <div class="span14">
            <form class="col-lg-12" [formGroup]="form" (ngSubmit)="submit(form.value)">
                <div class="form-group"
                [ngClass]="{'has-error':fh.hasError(form, 'email')}"
                >
                    <label for="email" i18n>Email</label>
                    <div class="alert alert-danger" *ngIf="fh.hasError(form, 'email')" i18n>Field required</div>
                    <input class="form-control"
                            id="email"
                            name="email"
                            [formControl]="form.controls['email']"
                    >
                    <div class="form-group">
                        <button ng-disabled="form.$invalid" id="submit" value="submit" class="btn btn-lg btn-primary btn-block" i18n>Send e-mail</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>