<div class="container">
    <fieldset class="col">
        <legend i18n>Password forgotten?</legend>
        <form class="col" [formGroup]="form" (ngSubmit)="submit(form.value)">
            <p class="info" i18n>Please enter your email address and we will send you an email with further instructions to reset your password.</p>
            <div class="form-group"
            [ngClass]="{'has-error':fh.hasError(form, 'email')}"
            >
                <label for="email" i18n>Email</label>
                <div class="alert alert-danger" *ngIf="fh.hasError(form, 'email')" i18n>Field required</div>
                <input class="form-control"
                        id="email"
                        name="email"
                        [formControl]="form.controls['email']"
                >
                <div class="form-group">
                    <button ng-disabled="form.$invalid" id="submit" value="submit" class="btn btn-lg btn-primary btn-block" i18n>Send e-mail</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>
