<fieldset class="col-md-6 col-md-offset-3">
    <div class="page-header">
        <h1 i18n>Reset your password</h1>
    </div>
    <div class="row">
        <div class="span14">
            <fieldset class="col-md-6 col-md-offset-3">
                <form class="col-lg-12" [formGroup]="form" (ngSubmit)="submit(form.value)">
                    <div class="form-group"
                    [ngClass]="{'has-error':fh.hasError(form, 'password')}"
                    >
                        <label for="email" i18n>New password</label>
                        <div class="alert alert-danger" *ngIf="fh.hasError(form, 'password')" i18n>Field required</div>
                        <input class="form-control"
                                type="password"
                                id="password"
                                name="password"
                                [formControl]="form.controls['password']"
                        >
                        <div class="form-group">
                            <button ng-disabled="form.$invalid" id="submit" value="submit" class="btn btn-lg btn-primary btn-block" i18n>Reset password</button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</fieldset>